# Gitattributes file to maintain consistent line endings across different OSes
# and to specify binary files.

# Set default behavior to LF
text=auto eol=lf

# Specific files and their attributes
headers.code-snippets text
settings.json         text

# Setting the defaults
*.c         text
*.cpp       text
*.h         text
*.s         text
*.pio       text
*.py        text
*.ini       text
*.md        text
*.txt       text
.gitignore  text

# Making no change to binary and img files.
*.bin       binary
*.uf2       binary
*.elf       binary
*.a         binary
*.o         binary
*.png       binary
*.jpg       binary
*.jpeg      binary
*.gif       binary

# For Windows specific files, set to CRLF
*.bat       text eol=crlf
*.cmd       text eol=crlf